﻿/*  OLD STYLES  */
.progressDiv {
    border-left: 5px solid #6487DC;
    border-right: 5px solid #6487DC;
    border-top: 2px solid #6487DC;
    border-bottom: 2px solid #6487DC;
    height: 20px;
    background-color: #6487DC;
}

.progressYES {
    background-color: green;
    height: 20px;
    margin: 0px -3px 0px -3px;
    padding: 0px;
}

.progressNO {
    background-color: red;
    height: 20px;
    margin: 0px -3px 0px -3px;
    padding: 0px;
    display: inline;
}

.progressNA {
    background-color: yellow;
    height: 20px;
    margin: 0px -3px 0px -3px;
    padding: 0px;
    display: inline;
}

.progressNOTDONE {
    background-color: white;
    height: 20px;
    margin: 0px -3px 0px -3px;
    padding: 0px;
}

.smallerFont {
    font-size: smaller;
}

.insurvTr {
    background-color: #6487DC;
    border: 1px solid #6487DC;
    border-bottom: 1px solid silver;
    color: White;
    font-weight: bold;
}

.insurvTrAlt {
    background-color: #FFFFFF;
    border: 1px solid #6487DC;
    border-bottom: 1px solid silver;
    font-weight: bold;
}

.insurvTrFooter {
    background-color: #CCCCCC;
    border: 1px solid #6487DC;
    border-bottom: 1px solid silver;
    height: 10px;
    font-size: smaller;
}

.insurvTd {
    background-color: #D6DFF5;
    border: 1px solid #6487DC;
    border-bottom: 1px solid silver;
}

.insurvTdAlt {
    background-color: #FFFFFF;
    border: 1px solid #6487DC;
    border-bottom: 1px solid silver;
}

.popupPanelContent {
    padding-left: 10px;
}

.blanket {
    background-color: #111;
    opacity: 0.35;
    filter: alpha(opacity=65);
    position: absolute;
    z-index: 8000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1300px;
}

.required {
    font-weight: bolder;
    color: Red;
}

.scroll {
    overflow: auto;
}

.gridWidth {
    width: 100%;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.filterTable {
    /*border-left: 1px solid #003366*/
}

.tableHeaderDiv {
    background-color: #D6DFF5;
    border-top: 1px solid #6487DC;
    border-bottom: 1px solid #6487DC;
}

.tHeaderLabel {
    font-size: 18px;
    padding: 10px;
}

.tableHeaderDivReport {
    background-color: #E5E5E5;
    border: 1px solid #686868;
    border-bottom: 1px solid silver;
}

.shuttleDivider {
    border-left: 1px solid #6487DC;
}

.uploadHeaderDiv {
    background-color: #FFFFFF;
    border: 1px solid #D6DFF5;
}

.leftButtonDivider {
    border-left: 1px solid #D6DFF5;
}

.tdToolTip {
    background-color: #D6DFF5;
    border: 1px solid silver;
}

legend {
    font-size: 14px;
    font-weight: bold;
}

.tableHeaderDiv {
    background-color: #fff;
    border: 0px solid #6487DC;
}

.tHeaderLabel {
    font-size: 18px;
    padding: 10px;
}

.gridWidth.table {
    border: 1px solid #6487DC;
}

/* NEW STYLES */
html {
    -ms-overflow-style: scrollbar;
}

body {
}

#page-header {
    background-color: #273045;
    position: relative;
}

#page-header-title {
    z-index: 10;
    position: absolute;
    top: 18px;
    left: 200px;
}

#page-header-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100px;
    z-index: 1;
    background: url("../../images/header_bg.jpg");
    background-repeat: no-repeat;
}

.bottom_aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
}

.navbar.main-nav {
    border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #273045;
}

.navbar-default {
    background-color: #C6C5C3;
    border-color: #e7e7e7;
    border-top: 1px solid #273045;
}

    .navbar-default .navbar-nav > li > a {
        color: #47575C;
    }

.asp-validation-block .alert-danger {
    color: #b94a48 !important;
    display: block;
}

.modal.in {
    display: block;
}

.relative {
    position: relative;
}

.bg-dark-blue {
    background: #273045;
}

.bg-light-grey {
    background: #C6C5C3;
}

.bg-light-white {
    background: #F2F1ED;
}

.bg-grey-green {
    background: #5C7379;
}

#page-header {
    width: 100%;
    height: 100%;
    height: 100px;
    padding: 10px;
}

    #page-header h1 {
        color: white;
    }

.table-grid-headwrap {
    padding: 10px;
}

.table-grid-headfont {
    font-size: 18px;
}

.autoCompleteWrapper input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bs-pagination td {
    position: relative;
    margin-left: -1px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.bs-pagination > td {
    background-color: #273045;
}

.bs-pagination a {
    display: block;
    width: 100%;
    height: 100%;
}

.swatch {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #fefefe;
    vertical-align: middle;
}

.swatch-container {
    color: #003399;
    line-height: 25px;
    margin-right: 10px;
}

.swatch.manual {
    background: #FF9933;
}

.swatch.restricted {
    background: #5C7379;
}

.swatch.prohibited {
    background: #a94442;
}

.selected-row td {
    border-top: 2px solid #77AABB !important;
    border-bottom: 2px solid #77AABB !important;
}

.sm-info-text {
    font-size: 10px;
    color: #888;
}

.td-tabular-right {
    text-align: right;
}

.details-form-horizontal label {
    text-align: left !important;
}

span.alert-danger[style*="inline"] {
    display: block !Important;
}

.alert-danger {
    color: #b94a48 !important;
}

.issue-fields .row {
    margin-bottom: 5px;
}

.autoCompleteWrapper {
    position: relative;
}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 20%;
    background: transparent;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 25px;
    padding: 0;
}

.sidebar-brand {
    font-size: 20px;
    padding: 5px;
    margin: 3px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }
}
   .req:before{
    content:"*" ;
    color:red    
    }

   @font-face
   {
        font-family: Impact;
        src: url(../fonts/Impact.ttf);
   }

   #smclWarning {
  width: 100%;
  height: 36px;
  left: 0;
  z-index: 2147483646;
  -moz-box-shadow: 0px 0px 3px #8a8a8a;
  -webkit-box-shadow: 0px 0px 3px #8a8a8a;
  box-shadow: 0px 0px 3px #8a8a8a;
  background-color:yellow;
}