﻿<!DOCTYPE html>
<html>
<head>
    <title>HILT Hub - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet/less" type="text/css" >
    <script src="@Url.Content("~/Scripts/less-1.3.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ligature.js")" type="text/javascript"></script>
	<script type="text/javascript">
        function setFocus()
        {
            // Set focus to the first input or select control on the page
            var inputs = $('input[type="text"]:visible, select:visible, textarea:visible');

	        if (inputs.length > 0) {
               inputs[0].focus();
	        }
	        else // no input controls?  set focus to the first link.
	        { 
	            var links = $('a');
	            if (links.length > 0) {
	                links[0].focus();
	            }
	        }
        }

	    $(function () {
            setFocus();

            // load background image
            $('body').css('background-image', "url( '@Url.Content("~/Content/noise.png")' )");

            // nav select indicator \/
            $('body#aul li#aulNav a, body#msds li#msdsNav a, body#mssl li#msslNav a, body#ship li#shipNav a, body#import li#importNav a, body#dashboard li#dashboardNav a').css(
                'background-image', "url( '@Url.Content("~/Content/dot.png")' )");

    	    // Opens links of class "new-window" in a new window
	        $('a.new-window').click(function () {
	            window.open(this.href);
	            return false;
	        });

            // Turn on the "please wait" sign for long operations
            $('.selectPleaseWait').change(showPleaseWait);
	        $('input[type=submit], .pleaseWait').click(showPleaseWait);

            // change icons to white on hover
            $('.btn-group > div').hover(
                function(){
                    $(this).find('i').addClass("icon-white");
                },
                function(){
                    $(this).find('i').removeClass("icon-white");
                });
	    });
        
        function showPleaseWait()
        {
            $('#pleaseWait').modal({'backdrop': 'static'});
        }

        function hidePleaseWait()
        {
            $('#pleaseWait').modal('hide');
        }

        function showProgressBox()
        {
            $('#progressBox').modal({'backdrop': 'static'});
        }

        function hideProgressBox()
        {
            $('#progressBox').modal('hide');
        }

        String.prototype.trim = function() {
            return replace( /^\s+|\s+$/g , "");
        };
	</script>
</head>
<body id="@ViewBag.section">
	<div id="pleaseWait" class="modal hide">
        <div class="modal-body">
			Please wait 
			<img id="spinner" src="@Url.Content("~/Content/spin.gif")" alt="spin"/>
        </div>
	</div>

    <div id="progressBox" class="modal hide">
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div id="progressBar" class="bar"></div>
            </div>
            Exporting: 
            <span id="currentMsds">
            </span>
        </div>
    </div>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div style="width: 900px; height: 38px; margin-left: auto; margin-right: auto;">
          <div>
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div style="float: left; height: 40px; margin-right: 40px">
                  <a class="brand" href="@Url.Content("~")">HILT hub</a>
                  <div id="version">version @HiltHub.MvcApplication.version</div>
              </div>
              <div class="btn-group pull-right" style="padding: 0px; margin-top: 5px">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width: 150px; margin-right: 0px">
                  <i class="icon-user"></i> @User.Identity.Name
                  <!--span class="caret"></span-->
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sign Out</a></li>
                </ul>
              </div>
              <div class="nav-collapse">
                <ul class="nav">
				    <li id="dashboardNav">@Html.ActionLink("Dashboard", "Index", "dashboard")</li>
				    <li id="aulNav">@Html.ActionLink("AUL", "Index", "Aul")</li>
				    <li id="msdsNav">@Html.ActionLink("MSDS", "Index", "Msds")</li>
				    <li id="msslNav">@Html.ActionLink("MSSL", "Index", "Mssl")</li>
				    <li id="shipNav">@Html.ActionLink("Ship", "Index", "Ship")</li>
                    <li id="importNav">@Html.ActionLink("Import", "Index", "FileImport")</li>
                </ul>
              </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>

    <div class="hero-unit shadow">
        @RenderBody()
    </div>

    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
</body>
</html>
