﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
	<script type="text/javascript">
		// Enable auto-postback for drop-downs, radio buttons, and checkboxes
		$(document).ready(function() {
			$("select:[autopostback='True']").change(
				function() {
					$(this).closest("form").submit();
				});
		});
	</script>
</head>
<body style="width: 810px">
    <div style="margin: 5px;">
		<div id="main" style="width: 800px">
			@RenderBody()        
		</div>
	</div>
</body>
</html>
