﻿@model HiltHub.Models.DetailsHeaderData
<script>
    $(function () {
        $('#btnSave').click(function () {
            $('form').submit();
        });
    });
</script>
<style>
    .DetailsTitle {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 26px;
        margin-top: 5px;
        line-height: 26px;
    }
    
    .DetailsSubTitle {
        font-size: 12px;
        font-family: verdana, sans-serif;
        margin-bottom: 30px;
    }
</style>

<div id="DetailsHeader" style="float: left; width: 350px;">
    <div class="DetailsTitle">@Model.Title</div> 	
    <div class="DetailsSubTitle">@Model.SubTitle</div>
</div>

<div class="btn-group" style="margin-bottom: 10px; float: right; margin-right: 12px">
@{
    Html.RenderPartial("_backToList", null);
    if (Model.ShowSave)  {
        <div class="btn" onclick="$('form').submit()"><i class="icon-save"></i> Save</div>
    }
}
</div>

<br style="clear: both"/>