﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
</h2>

@if (Model != null) 
{ 
    <p>@Model.Exception.GetType().Name thrown in @Model.ControllerName @Model.ActionName</p> 
	@Model.Exception.Message
} 

