﻿<span id="btnGroupMoreLess" class="btn-group">
<a id="pagerMore" class="btn"><i class="icon-plus"></i> more</a>
<a class="btn moreLessSeparator"><i class="icon-th-list"></i></a>
<a id="pagerLess" class="btn"><i class="icon-minus"></i> less</a>
</span>
