﻿@darkBlue: #1A5C8D;

body#aul li#aulNav a, body#msds li#msdsNav a, body#mssl li#msslNav a, 
body#ship li#shipNav a, body#import li#importNav a, body#dashboard li#dashboardNav a
{
    background-color: #484848;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    color: #fff;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

header, footer, nav, section
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #111;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
    text-align: center;
}

h3
{
    font-size: 1.2em;
    line-height: normal;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/


header, #header
{
    position: relative;
    margin-bottom: 0px;
    color: #111;
    padding: 0;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/


legend
{
    font-size: 1.1em !important;
    font-weight: bold;
    margin-top: 1em;
}

legend:hover
{
    background-color: #ddd;
    text-decoration: none !important;
}

textarea
{
    min-height: 75px;
}

select
{
    height: 30px !important;
}


/* TABLE
----------------------------------------------------------*/

table
{
    td
    {
        padding: 5px;
        background-color: #dadada;
    }

    th
    {
        padding: 6px 5px 0px 5px;
        text-align: left;
    }
}


.grid:hover a
{
    text-decoration: none;
}

/* MISC  
----------------------------------------------------------*/
nav
{
    margin-top: 40px;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;

    a:link
    {
        color: white;
        text-decoration: underline;
    }

    a:visited
    {
        color: white;
        text-decoration: underline;
    }

    a:hover
    {
        color: white;
        text-decoration: none;
    }
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 0px 5px 0px 20px;
    float: left;
    background-color: @darkBlue;
    color: #fff;
    padding: 7px 10px 2px 10px;
    text-align: right;
    white-space: nowrap;
    line-height: normal;
    height: 21px;
    vertical-align: middle;
    width: 140px;
    margin-right: 0px;
}

ul.nav-tabs
{
    margin-right: 0px !important;
}

.editor-field
{
    height: 30px;
    width: 212px;

    input
    {
        border-radius: 0px;
        width: 200px !important;
    }

    input[type=radio]
    {
        margin-left: 10px;
        width: auto !important;
        vertical-align: middle;
    }

    select
    {
        border-radius: 0px;
        width: 213px !important;
    }

    textarea
    {
        width: 200px !important;
    }

}

.editor-field-textarea
{
    height: auto !important;
}


.display-field, .editor-field
{
    float: left;
    vertical-align: middle;
    margin-bottom: 10px;
}

.display-field
{
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    margin-right: 0px;
    height: 23px;
    width: 204px !important;
    overflow: hidden;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

#searchFilter
{
    margin-bottom: 10px;
}

.searchFilterColumn
{
    float: left;
    margin-right: 20px;
}

.searchFilterButtonColumn
{
    float: right;
    margin-right: 0px;
}

.searchFilterButtons
{
    clear: both;
    margin-top: 15px;
}

#searchFilter label
{
    margin-bottom: 0px;
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

.grid 
{
    width: 100%;
    display: block;
    clear: both;

    tbody, thead
    {
        width: 100%;
    }

    td
    {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 6px;
    }

    th
    {
        font-variant: small-caps;
        letter-spacing: 0.1em;
        vertical-align: top;
    }
}

.colDetails
{
    width: 40px;
}

.colEdit
{
    width: 30px;
}

.colButton
{
    background-color: #f5f5f5 !important;
    text-align: center;
    font-family: "Helvetica Neue" , Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: 1px solid rgba(0,0,0,0.1);

    a
    {
        text-decoration: none !important;
    }
}

.colNiin
{
    width: 80px;
}

#progressBar
{
    width: 0;
}

#progressBox
{
}

#spinner
{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dimmer
{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.brand
{
    color: #FF6A00 !important;
    padding-bottom: 0px !important;
    font-variant: small-caps;
}

#version
{
    color: #888;
    font-family: verdana, sans-serif;
    font-size: 8pt;
    clear: both;
    position: relative;
    top: -5px;
    left: 2px;
}

.nav
{
    font-variant: small-caps;
    font-size: 16px;
}

ul.nav a:hover
{
}

.backToList
{
    width: 100px !important;
}

.tbdMessage
{
    font-style: italic;
    background-color: #f5f5f5;
    color: #333;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

/* moved from _layout */
body
{
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #B0C4DE;
}

.paginationRight
{
    float: left;
    width: 300px;
    background-color: transparent !important;
    border: none !important;

    a
    {
        line-height: 20px;
    }

    a:hover
    {
        background-color: #f5f5f5;
        color: @darkBlue;
    }

    .btn
    {
        width: 20px;
    }
}

.paginationLeft
{
    margin-right: 20px;
    padding-top: 2px;
    float: left;
    background-color: transparent !important;
    border: none !important;
}


.btn-group > div:hover, .btn-group > div:hover *
{
    color: #f5f5f5;
    background-color: #bbb;
}


.colButton:hover, .colButton:hover *, #mainGrid tbody tr:hover, #mainGrid tbody tr:hover *, #mainGrid th a:hover
{
    color: #f5f5f5 !important;
    background-color: #666;
    background-position: 0 100px;
}

legend
{
    margin-bottom: 5px;
    width: 620px;
    background-color: #135082 !important;
    color: #f5f5f5;
}

.accordion-group
{
    border: 0;
}

.gridrow_alternate td
{
    background-color: transparent;
}

.gridrow, .gridrow_alternate
{
    font-family: "Trebuchet MS" , Helvetica, sans-serif;
    color: #555;
    font-size: 11pt;
}

/* moved from editpart */
legend
{
    cursor: pointer;
    background-color: #fff;
    padding-left: 10px;
}

legend:hover
{
    text-decoration: underline;
}

.hero-unit
{
    width: 950px;
    padding: 30px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    min-height: 400px;
}

body#aul, body#msds, body#mssl, 
body#ship, body#import, body#dashboard
{
    .hero-unit
    {
        width: 900px;
    }
}


.dnArrow, .rtArrow
{
    font-size: 1.5em;
    line-height: .5em;
    display: inline;
}

.divOriginalValue
{
    background-color: Yellow;
    padding: 3px;
    color: #333;
}

.tbdMessage
{
    margin-bottom: 20px;
}

.shadow
{
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* Classes that are used in JQuery code.  Listing here to silence ReSharper alert */
.pleaseWait
{
}
.accordion
{
}
.accordion-toggle
{
}

#NIIN
{
    width: 70px;
}

#MSDSSERNO
{
    width: 60px;
}

#Product, #Manufacturer
{
    display: block;
}
.grid th input
{
    display: block;
}

#mainGrid tbody tr
{
    cursor: pointer;
}

#searchFilter
{
    margin-left: 5px;
}

body#dashboard .hero-unit
{
    padding-top: 100px;
    height: 400px;
}

.grid td a
{
    color: #555;
}

/* PAGINATION CONTROL */
#btnGroupMoreLess
{
    float: left;
    margin-right: 20px;
    line-height: 20px;
}

#btnGroupMoreLess a
{
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
}

.moreLessSeparator
{
    padding: 0;
    width: 20px !important;
}

.moreLessSeparator:hover
{
    background-color: transparent;
}

.pagination
{
    margin: 5px 0px 0px 1px;
    width: 700px;

    span
    {
        line-height: 25px;
    }
}

#paginationContainer
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* /Pagination Control */

.navbar-inner
{
    background-color: #333 !important;
    background-image: none;
}

.navbar
{
    .brand, .nav > li > a
    {
        text-shadow: none;
    }

    .brand
    {
        padding-top: 5px;
    }

    .nav > li > a
    {
        color: #aaa;
        padding-bottom: 3px;
        padding-top: 17px;
        line-height: normal !important;
    }

    .nav > li > a:hover
    {
        color: #f0f0f0;
    }
}

#CAGE
{
    width: 80px;
}

.btn, .btn a, a.btn
{
    width: 80px;
    color: #333;
    text-decoration: none;

    [class^="icon-"], [class*=" icon-"]
    {
        background-image: none !important;
        margin-top: 2px;
    }
}

.btn:hover
{
    background-position: 0 100px;
}

a
{
    color: @darkBlue;
}

grid th a:hover
{
    background-color: @darkBlue;
}
