﻿@using ExtensionMethods
@using HiltHub.Models
@model MsdsEditViewModel

<style>
    #DetailsHeader {
        padding-left: 170px;
    }
</style>
@{
    ViewBag.Title = "Edit MSDS #" + @Model.MsdsMaster.MSDSSERNO;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("DetailsHeader", 
        new DetailsHeaderData 
        {
            Title = Model.MsdsMaster.PRODUCT_IDENTITY.TitleCase(),
            SubTitle = "MSDS #" + Model.MsdsMaster.MSDSSERNO        
        });
}

@{Html.BeginForm();}

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#master" data-toggle="tab">Main</a></li>
        <li><a href="#disposal" data-toggle="tab">Disposal</a></li>
        <li><a href="#afjm" data-toggle="tab">AFJM</a></li>
        <li><a href="#dot" data-toggle="tab">DOT</a></li>
        <li><a href="#iata" data-toggle="tab">IATA</a></li>
        <li><a href="#imo" data-toggle="tab">IMO</a></li>
        <li><a href="#description" data-toggle="tab">Description</a></li>
        <li><a href="#label" data-toggle="tab">Label</a></li>
        <li><a href="#physchem" data-toggle="tab">Phys/Chem</a></li>
        <li><a href="#transportation" data-toggle="tab">Transportation</a></li>
        <li><a href="#ingredients" data-toggle="tab">Ingredients</a></li>
        <li><a href="#radiological" data-toggle="tab">Radiological</a></li>
        <li><a href="#contractors" data-toggle="tab">Contractors</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="master">
            @{Html.RenderPartial("edit/Master", Model);}
        </div>
        <div class="tab-pane" id="disposal">
            @{Html.RenderPartial("edit/Disposal", Model);}
        </div>
        <div class="tab-pane" id="afjm">
            @{Html.RenderPartial("edit/Afjm", Model);}
        </div>
        <div class="tab-pane" id="dot">
            @{Html.RenderPartial("edit/Dot", Model);}
        </div>
        <div class="tab-pane" id="iata">
            @{Html.RenderPartial("edit/Iata", Model);}
        </div>
        <div class="tab-pane" id="imo">
            @{Html.RenderPartial("edit/Imo", Model);}
        </div>
        <div class="tab-pane" id="description">
            @{Html.RenderPartial("edit/Description", Model);}
        </div>
        <div class="tab-pane" id="label">
            @{Html.RenderPartial("edit/Label", Model);}
        </div>
        <div class="tab-pane" id="physchem">
            @{Html.RenderPartial("edit/PhysChem", Model);}
        </div>
        <div class="tab-pane" id="transportation">
            @{Html.RenderPartial("edit/Transportation", Model);}
        </div>
        <div class="tab-pane" id="ingredients">
            @{Html.RenderPartial("edit/Ingredients", Model);}
        </div>
        <div class="tab-pane" id="radiological">
            @{Html.RenderPartial("edit/Radiological", Model);}
        </div>
        <div class="tab-pane" id="contractors">
            @{Html.RenderPartial("edit/Contractors", Model);}
        </div>
    </div>
</div>


@{ Html.EndForm(); }

<script type="text/javascript">
    $(
        function ()
        {
            // Get the original (unedited) values for this MSDS
            var oVals = @(new HtmlString(Model.MsdsOriginalValues)) ;
            if (oVals == null)
                return;
            for (var section in oVals)
            {
                showDiffsFor(section, oVals);
            }

            // set focus away from tab when clicked
            $('a[data-toggle="tab"]').click(
                function () { 
                    setTimeout(setFocusFromTab, 100);
                }
            );

        }
    );

        function setFocusFromTab()
        {
            // Set focus to the first input or select control on the page
            var inputs = $('.tab-pane.active input[type!="hidden"], .tab-pane.active select, .tab-pane.active textarea');

	        if (inputs.length > 0) 
            {
               inputs[0].focus();
	        }
            else 
            {
                inputs = $('input[type!="hidden"], .btn');
                if (inputs.length > 0) 
                {
                   inputs[0].focus();
	            }
	            else // no input controls?  set focus to the first link.
	            { 
	                var links = $('a');
	                if (links.length > 0) {
	                    links[0].focus();
	                }
	            }
            }
        }

    
    function showDiffsFor(msdsSection, oVals)
    {
        for (var index in oVals[msdsSection])
        {
            if (index == "PRODUCT_LOAD_DATE" || index == "manually_entered")
                continue;

            // Compare textbox values with original values, show when different
            var elTb = $('input[type=text][id$='+ msdsSection +'_' + index + ']');
            if (elTb.length == 0)
                elTb = $('textarea[id$='+ msdsSection +'_' + index + ']');
              
            if (elTb.length > 0)
            {
                if (oVals[msdsSection][index] == null)
                    oVals[msdsSection][index] = '';
                    
                if ($.trim(oVals[msdsSection][index]) != $.trim(elTb.val()))
                {
                    try
                    {
                        elTb.after('<div class="divOriginalValue">WAS: '
                            + (oVals[msdsSection][index] == '' ? '{blank}' : oVals[msdsSection][index])
                            + '</div>');
                    }
                    catch(err)
                    { }
                }
            }

            // Compare dropdown list values with original values, show when different
            var elDd = $('select[id$=' + msdsSection + '_' + index.toLowerCase() + ']');
                
            if (elDd.length > 0)
            {
                var elDdSelected = $('select[id$=' + msdsSection + '_' + index.toLowerCase() + '] :selected');

                if (index == 'hcc_id')
                {
                    var oldText = elDd[0][oVals.MsdsMaster.hcc_id-1].text;
                    if (oVals.MsdsMaster[index] != elDdSelected.val())
                        elDd.after('<div class="divOriginalValue">WAS: '
                            + (oldText == '' ? '{blank}' : oldText)
                            + '</div>');
                }
                else
                {
                    if (oVals[msdsSection][index] && $.trim(oVals[msdsSection][index]) != $.trim(elDdSelected.text()))
                        elDd.after('<div class="divOriginalValue">WAS: '
                            + (oVals[msdsSection][index] == '' ? '{blank}' : oVals[msdsSection][index])
                            + '</div>');
                }
            }

        }    
    }
</script>