@model HiltHub.Models.MsdsFilterViewModel
@{
    var ddlHtmlAttributes = new Dictionary<string, object> { { "autopostback", true } } ;
    ddlHtmlAttributes.Add("class", "selectPleaseWait"); 
    var tbHtmlAttributes = new Dictionary<string, object> { {"size", "30"}, {"maxlength", "40"} } ;
}
<script src="@Url.Content("~/Scripts/SearchFilter.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // move filters to positons over their columns
        if ($('#mainGrid th').length > 1) {
            $('#NIIN').appendTo('.grid th:nth-child(3)');
            $('#MSDSSERNO').appendTo('.grid th:nth-child(4)');
            $('#Product').appendTo('.grid th:nth-child(1)');
            $('#Manufacturer').appendTo('.grid th:nth-child(2)');
            $('#gridFilters').remove();
        }
    });
</script>
<div id="searchFilter">
    <div class="searchFilterColumn">
		<div>
			<label>Hull Type</label>
			@Html.DropDownList("hullTypeId", Model.HullTypes, "All", ddlHtmlAttributes)
		</div>
     </div>
     <div class="searchFilterColumn searchFilterButtonColumn">
		<div class="btn-group" style="margin-bottom: 10px;">
			<div class="btn pleaseWait" id="clearFilters" onclick="window.location.href('@Url.Content("~/msds/Clear")')"><i class="icon-remove"></i> @Html.ActionLink("Clear", "clear", "msds")</div>
            <div class="btn pleaseWait" onclick="search.submit()"><i class="icon-search"></i> Search</div>
            <div class="btn pleaseWait" id="divExportBtn"><i class="icon-share"></i> Export</div>
		</div>
	</div>
</div>
<table class="grid" id="gridFilters">
    <thead>
        <tr>
        <th />
        <th style="width: 100%">
            Product
			@Html.TextBox("Product", Model.Product, tbHtmlAttributes)
		</th>
        <th>
            Manufacturer
			@Html.TextBox("Manufacturer", Model.Manufacturer, tbHtmlAttributes)
		</th>
        <th>
            NIIN
     	    @Html.TextBox("NIIN", Model.niin, tbHtmlAttributes)
	    </th>
		<th>
            MSDS
			@Html.TextBox("MSDSSERNO", Model.Master_MSDSSERNO, tbHtmlAttributes)
		</th>
        </tr>
    </thead>
</table>

    <script type="text/javascript">
        var msdsMainUrl = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + window.location.pathname;
        var msdsList;
        var msdsListIndex;

        function exportNextMsds() 
        {
            var msdsSerNo = msdsList[msdsListIndex++];                
            $('#currentMsds').text(msdsSerNo);
            $('#progressBar').css('width', parseInt(msdsListIndex * 100 / msdsList.length).toString() + '%');
            if (msdsListIndex < msdsList.length)
            {                
                $.get(msdsMainUrl + '/ExportSingle?msdsSerNo=' + msdsSerNo 
                        + '&hullTypeId=' + @Model.HullTypeId 
                        + '&cb=' + (new Date().getTime()).toString(),
                    exportNextMsds)
                        .error(exportFailed);
            }
            else
            {
                hideProgressBox();
            }
        }

        function handleExportList(data) 
        {
            hidePleaseWait();
            showProgressBox();
            msdsList = data;
            msdsListIndex = 0;
            exportNextMsds();
        }

        $(function () {
            $('#divExportBtn').click(function () {
                $.get(msdsMainUrl + '/GetExportList?hullTypeId=' + $('#hullTypeId').val() + '&cb=' + (new Date().getTime()).toString(), handleExportList)
                    .error(exportFailed);
            });
        });

        function exportFailed() 
        { 
            hidePleaseWait();
            hideProgressBox();
            alert("Export failed.  Please try again later."); 
        }
    </script>

