﻿@model HiltHub.Models.v_AUL_Inventory_Detail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>AUL Inventory Detail</legend>

    <div class="display-label">UIC</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.UIC)
    </div>

    <div class="display-label">NIIN</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.NIIN)
    </div>

    <div class="display-label">QTY</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.QTY)
    </div>

    <div class="display-label">Allowance_QTY</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Allowance_QTY)
    </div>

    <div class="display-label">Manually_Entered</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Manually_Entered)
    </div>

    <div class="display-label">CAGE</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.CAGE)
    </div>

    <div class="display-label">MSDS_Num</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.MSDS_Num)
    </div>

    <div class="display-label">Created</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">UI</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.UI)
    </div>

    <div class="display-label">UM</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.UM)
    </div>

    <div class="display-label">Hull_Type</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Hull_Type)
    </div>

    <div class="display-label">Ship_Name</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Ship_Name)
    </div>

    <div class="display-label">Ship_Number</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Ship_Number)
    </div>

    <div class="display-label">usage_category_id</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.usage_category_id)
    </div>

    <div class="display-label">Usage_Category</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Usage_Category)
    </div>

    <div class="display-label">Usage_Category_Description</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Usage_Category_Description)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">smcc_id</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.smcc_id)
    </div>

    <div class="display-label">SMCC</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.SMCC)
    </div>

    <div class="display-label">SMCC_Description</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.SMCC_Description)
    </div>

    <div class="display-label">Specs</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Specs)
    </div>

    <div class="display-label">shelf_life_code_id</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.shelf_life_code_id)
    </div>

    <div class="display-label">Shelf_Life_Code</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Shelf_Life_Code)
    </div>

    <div class="display-label">Shelf_Life_Months</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Shelf_Life_Months)
    </div>

    <div class="display-label">Shelf_Life_Description</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Shelf_Life_Description)
    </div>

    <div class="display-label">Shelf_Life_Type</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Shelf_Life_Type)
    </div>

    <div class="display-label">shelf_life_action_code_id</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.shelf_life_action_code_id)
    </div>

    <div class="display-label">Shelf_Life_Action_Code</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Shelf_Life_Action_Code)
    </div>

    <div class="display-label">Shelf_Life_Action_Description</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Shelf_Life_Action_Description)
    </div>

    <div class="display-label">Remarks</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Remarks)
    </div>

    <div class="display-label">storage_type_id</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.storage_type_id)
    </div>

    <div class="display-label">Storage_Type</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Storage_Type)
    </div>

    <div class="display-label">Storage_Type_Description</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Storage_Type_Description)
    </div>

    <div class="display-label">cog_id</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.cog_id)
    </div>

    <div class="display-label">COG</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.COG)
    </div>

    <div class="display-label">COG_Description</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.COG_Description)
    </div>

    <div class="display-label">SPMIG</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.SPMIG)
    </div>

    <div class="display-label">NEHC_Report</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.NEHC_Report)
    </div>

    <div class="display-label">catalog_group_id</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.catalog_group_id)
    </div>

    <div class="display-label">Catalog_Serial_Number</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Catalog_Serial_Number)
    </div>

    <div class="display-label">Dropped_In_Error</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Dropped_In_Error)
    </div>

    <div class="display-label">Manufacturer</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Manufacturer)
    </div>

    <div class="display-label">Data_Source_CD</div>
    <div class="display-field">&nbsp;
        @Html.DisplayFor(model => model.Data_Source_CD)
    </div>
</fieldset>
@{
    Html.RenderPartial("_backToList", null);
} 