﻿@model HiltHub.Models.AulFilterViewModel
@{
    var ddHtmlAttributes = new Dictionary<string, object> { { "autopostback", true }};
	var tbHtmlAttributes = new Dictionary<string, object> { {"size", "30"}, {"maxlength", "40"} };
}
<script src="@Url.Content("~/Scripts/SearchFilter.js")" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
        $('#shipId').val( @Model.ShipId);
        $('#catalogGroupId').val( @Model.CatalogGroupId);

        // move filters to positons over their columns
        if ($('#mainGrid th').length > 1) {
            $('#Description').appendTo('.grid th:nth-child(1)');
            $('#NIIN').appendTo('.grid th:nth-child(2)');
            $('#CAGE').appendTo('.grid th:nth-child(3)');
            $('#Specs').appendTo('.grid th:nth-child(4)');
            $('#shipId').appendTo('.grid th:nth-child(5)');
            $('#gridFilters').remove();
        }
    });
</script>
<div id="searchFilter">
    <div class="searchFilterColumn">
		<div>
			<label>Catalog Group</label>
			@Html.DropDownList("catalogGroupId", Model.CatalogGroups, "-- All --", ddHtmlAttributes)
		</div>
    </div>
    <div class="searchFilterColumn">
		<div>
			<label>Usage Category</label>
			@Html.TextBox("Usage_Category_Description", Model.UsageCategoryDescription, tbHtmlAttributes)
		</div>
	</div>
    <div class="searchFilterColumn searchFilterButtonColumn">
        <div class="btn-group">
			<div class="btn" id="clearFilters" onclick="window.location.href('@Url.Content("~/aul/clear")')"><i class="icon-remove"></i> @Html.ActionLink("Clear", "clear", "aul")</div>
            <div class="btn" onclick="search.submit()"><i class="icon-search"></i> Search</div>
		</div>
	</div>
</div>


<table class="grid" id="gridFilters">
    <thead>
        <tr>
        <th />
        <th style="width: 100%">
			Description
			@Html.TextBox("Description", Model.Description, tbHtmlAttributes)
        </th>
        <th>
			NIIN
			@Html.TextBox("NIIN", Model.NIIN, tbHtmlAttributes)
        </th>
        <th>
			CAGE
			@Html.TextBox("CAGE", Model.CAGE, tbHtmlAttributes)
        </th>
        <th>
			Specs
			@Html.TextBox("Specs", Model.Specs, tbHtmlAttributes)
        </th>
        <th>
			Ship
			@Html.DropDownList("shipId", Model.Ships, "-- All --", ddHtmlAttributes)
        </th>
        </tr>
    </thead>
</table>

