﻿@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@model HiltHub.Models.fileImportContainerViewModel

@{
    ViewBag.Title = "Import";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $('#fileImportForm').submit(function () {
        $('#fileImportMsg').text('Processing file import...');
        return false;
    }); 
</script>

@{Html.RenderPartial("SearchFilters", Model);}
<br />
<div style="margin-top: 40px">
@Html.Grid(Model.FileImportPagedList).Sort(Model.GridSortOptions).Columns(column =>
{
	column.For(x => Html.ActionLink("Details","Details", new { id = x.ship_id },
        new {target = "_blank"})).Named("").Attributes(@class => "colDetails colButton");
    column.For(x => x.Hull_Type).Named("Hull Type").SortColumnName("Hull_Type");
    column.For(x => x.Hull_Number).Named("Hull Number").SortColumnName("Hull_Number");
    column.For(x => x.Ship_Name).Named("Ship").SortColumnName("Ship_Name");
    column.For(x => x.MSSL_Upload).Named("Last MSSL Import Date").SortColumnName("MSSL_Upload");
})

@Html.Pager(Model.FileImportPagedList)
</div>


<div style="border: 2px solid #333; margin-top: 10px; margin-left: auto; margin-right: auto; height: 200px; width: 800px">
            @{Html.RenderPartial("SelectImportFilePanel", Model);}
</div>

