@model HiltHub.Models.fileImportContainerViewModel
@{var htmlAttributes = new Dictionary<string, object> { { "autopostback", true }, {"style", "width: 300px"} } ;}
<script src="@Url.Content("~/Scripts/SearchFilter.js")" type="text/javascript"></script>
@{Html.BeginForm("Index", "fileImport", FormMethod.Get, new { id = "fileSearch" });}
<div id="searchFilter">
    <div class="searchFilterColumn">
		<div>
			<label>Hull Type</label>
			@Html.DropDownList("SelectedHullTypeId", Model.FileImportFilterViewModel.HullTypes, "-- All --", htmlAttributes)
		</div>
    </div>
    <div class="searchFilterColumn">
		<div>
			<label>Ship Name</label>
			@Html.DropDownList("SelectedShipId", Model.FileImportFilterViewModel.Ships, "-- All --", htmlAttributes)
		</div>
    </div>
    <div class="searchFilterColumn">
	    <div class="searchFilterButtons">
			<div class="btn" id="clearFilters" onclick="window.location.href('@Url.Content("~/FileImport/clear")')"><i class="icon-remove"></i> @Html.ActionLink("Clear", "clear", "fileImport")</div>
		</div>
	</div>
</div>
@{ Html.EndForm(); }

