﻿@model HiltHub.Models.fileImportContainerViewModel
@{var ddHtmlAttributes = new Dictionary<string, object> { { "autopostback", false}, {"style", "width: 300px"} } ;}

@{Html.BeginForm("processFileImport", "FileImport", FormMethod.Post, new {enctype = "multipart/form-data", id="fileImportForm"});}
<div id="uploadFilter">
    <div style="width: 800px; text-align: left; margin: 10px">
		<div style="margin: 20px;">
			<label><b>Choose File to Upload</b></label>
		</div>
        <div class="searchFilterColumn">
		<div>
			<label>File Type</label>
			@Html.DropDownList("selectedImportFileTypeId", Model.FileImportFilterViewModel.FileTypes, ddHtmlAttributes)
		</div>
		<div>
			<label>Ship Name</label>
			@Html.DropDownList("selectedImportShipId", Model.FileImportFilterViewModel.Ships, ddHtmlAttributes)
		</div>
        </div>
        <div class="searchFilterColumn">
            <label for="importFile">Filename:</label>
            <input type="file" name="importFile" id="importFile" size="50" style="width: 300px" class="btn"/> <br />
  			<input type="submit" value="Upload" class="btn" id="uploadFile" />
            @Html.HiddenFor(model => model.fileTempName)
            @Html.HiddenFor(model => model.fileImportName)
        </div>
        <br />
        <div>
            @Html.DisplayFor(model => model.fileImportMsg)
 		</div>
	</div>
</div>
@{ Html.EndForm(); }
