﻿@model HiltHub.Models.msds_ingredient

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<h2>Edit Ingredient: @Model.INGREDIENT_NAME</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.ingredients_id)
		@Html.HiddenFor(model => model.msds_id)

        <div class="editor-label">
            CAS
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CAS)
            @Html.ValidationMessageFor(model => model.CAS)
        </div>

        <div class="editor-label">
            RTECS_NUM
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RTECS_NUM)
            @Html.ValidationMessageFor(model => model.RTECS_NUM)
        </div>

        <div class="editor-label">
            RTECS_CODE
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RTECS_CODE)
            @Html.ValidationMessageFor(model => model.RTECS_CODE)
        </div>

        <div class="editor-label">
            INGREDIENT_NAME
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INGREDIENT_NAME)
            @Html.ValidationMessageFor(model => model.INGREDIENT_NAME)
        </div>

        <div class="editor-label">
            PRCNT
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRCNT)
            @Html.ValidationMessageFor(model => model.PRCNT)
        </div>

        <div class="editor-label">
            OSHA_PEL
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OSHA_PEL)
            @Html.ValidationMessageFor(model => model.OSHA_PEL)
        </div>

        <div class="editor-label">
            OSHA_STEL
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OSHA_STEL)
            @Html.ValidationMessageFor(model => model.OSHA_STEL)
        </div>

        <div class="editor-label">
            ACGIH_TLV
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACGIH_TLV)
            @Html.ValidationMessageFor(model => model.ACGIH_TLV)
        </div>

        <div class="editor-label">
            ACGIH_STEL
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACGIH_STEL)
            @Html.ValidationMessageFor(model => model.ACGIH_STEL)
        </div>

        <div class="editor-label">
            EPA_REPORT_QTY
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EPA_REPORT_QTY)
            @Html.ValidationMessageFor(model => model.EPA_REPORT_QTY)
        </div>

        <div class="editor-label">
            DOT_REPORT_QTY
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOT_REPORT_QTY)
            @Html.ValidationMessageFor(model => model.DOT_REPORT_QTY)
        </div>

        <div class="editor-label">
            PRCNT_VOL_VALUE
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRCNT_VOL_VALUE)
            @Html.ValidationMessageFor(model => model.PRCNT_VOL_VALUE)
        </div>

        <div class="editor-label">
            PRCNT_VOL_WEIGHT
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRCNT_VOL_WEIGHT)
            @Html.ValidationMessageFor(model => model.PRCNT_VOL_WEIGHT)
        </div>

        <div class="editor-label">
            CHEM_MFG_COMP_NAME
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHEM_MFG_COMP_NAME)
            @Html.ValidationMessageFor(model => model.CHEM_MFG_COMP_NAME)
        </div>

        <div class="editor-label">
            ODS_IND
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ODS_IND)
            @Html.ValidationMessageFor(model => model.ODS_IND)
        </div>

        <div class="editor-label">
            OTHER_REC_LIMITS
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OTHER_REC_LIMITS)
            @Html.ValidationMessageFor(model => model.OTHER_REC_LIMITS)
        </div>

    </fieldset>
    <p>
        <input type="submit" value="Save" class="btn" /> @Html.ActionLink("Cancel", "Index", new {id = Model.msds_id}, new {@class="btn"})
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index", new {id = Model.msds_id})
</div>
