﻿@model IEnumerable<HiltHub.Models.msds_ingredient>

@{
    ViewBag.Title = "Edit Ingredients List for MSDS #" + ViewBag.msdsserno;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { ViewBag.id }, new {@class="btn"}) <span class="btn" onclick="window.close()">Close</span>
</p>
<table>
    <tr>
        <th>
            CAS
        </th>
        <th>
            INGREDIENT NAME
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INGREDIENT_NAME)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ingredients_id, @class="btn" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ingredients_id, @class="btn" })
        </td>
    </tr>
}

</table>
