﻿/* AutoComplete List Styles */
    /* Container for the list options */
        .list
        {
            border: 1px solid #2a56b3;
            overflow:auto;
            height:50px;
            color:Black;
        }
        
        /* Hide link underline */
        .list a
        {
            text-decoration: none;
        }
        
    /* Normal Option */
        .listOption
        {
            background: #FFFFFF;
            /*color: #2a56b3;*/
            border-bottom:1px solid #cccccc;
            padding: 3px;
            font-family: verdana, sans-serif;
            font-size: 12px;
            cursor: default;
        }

    /* Hover Option */    
        .listOptionHighlighted
        {
            background: #e0ebfb;
            /*color: #2a56b3;*/
            padding: 3px;
            font-family: verdana, sans-serif;
            font-size: 12px;
            cursor: pointer;
        }

/* Other control styles */
    /* Textbox style */
        .queryBox
        {
            position: inherit;
           /* color: #2a56b3;*/
            background: #FFFFFF;
            font-family: verdana, sans-serif;
            height: 18px;
            border: solid 1px #7F9DB9;
            padding: 2px;
            vertical-align:middle;

        }
    /* Button Input */
        .button
        {
            position: inherit;
            border-bottom: 1px solid #2a56b3;
            border-right: 1px solid #2a56b3;
            border-top: 1px solid #6699FF;
            border-left: 1px solid #6699FF;
           
            height: 26px;
            background: #99CCFF;
           /* color: #2a56b3;*/
            font-family: verdana, sans-serif;
            font-size: 14px;
            font-weight: bold;
            padding: 2px;
            vertical-align:middle;
        }

/* Container for the entire control */
    .autoCompleteWrapper
    {
        /*position: relative;*/
        display: block;
        width: 100%;
        
    }