﻿<%@ Page StylesheetTheme="WINXP_Blue" Title="" Language="C#" MasterPageFile="~/SitePopup.Master" AutoEventWireup="true" CodeBehind="Exception.aspx.cs" Inherits="HAZMAT.ExceptionPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <div id="DivException" runat="server" style="width:100%">
    </div> 
</asp:Content>
