﻿@model HiltHub.Models.msds_contractor_info

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<h2>Edit Contractor @Model.CT_COMPANY_NAME</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.contractor_id)
        @Html.HiddenFor(model => model.msds_id)

        <div class="editor-label">
            Number
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_NUMBER)
            @Html.ValidationMessageFor(model => model.CT_NUMBER)
        </div>

        <div class="editor-label">
            CAGE
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_CAGE)
            @Html.ValidationMessageFor(model => model.CT_CAGE)
        </div>

        <div class="editor-label">
            Company Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_COMPANY_NAME)
            @Html.ValidationMessageFor(model => model.CT_COMPANY_NAME)
        </div>


        <div class="editor-label">
            Phone
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_PHONE)
            @Html.ValidationMessageFor(model => model.CT_PHONE)
        </div>

        <div class="editor-label">
            Purchase Order
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PURCHASE_ORDER_NO)
            @Html.ValidationMessageFor(model => model.PURCHASE_ORDER_NO)
        </div>


        <div class="editor-label">
            PO Box
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_PO_BOX)
            @Html.ValidationMessageFor(model => model.CT_PO_BOX)
        </div>

        <div class="editor-label">
            City
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_CITY)
            @Html.ValidationMessageFor(model => model.CT_CITY)
        </div>

        <div class="editor-label">
            State
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_STATE)
            @Html.ValidationMessageFor(model => model.CT_STATE)
        </div>

        <div class="editor-label">
            Country
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CT_COUNTRY)
            @Html.ValidationMessageFor(model => model.CT_COUNTRY)
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Save" /> @Html.ActionLink("Cancel", "Index", new {id = Model.msds_id})
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index", new {id = Model.msds_id})
</div>
