﻿@model IEnumerable<HiltHub.Models.msds_contractor_info>
@{
    ViewBag.Title = "Edit Contractor Info for MSDS #" + ViewBag.msdsserno;
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { ViewBag.id }) | <span onclick="window.close()">Close</span>
</p>
<table>
    <tr>
        <th>
            Contractor 
        </th>
        <th>
            PO
        </th>
        <th>
            CAGE
        </th>
        <th>
            Company
        </th>
        <th>
            Location
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CT_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PURCHASE_ORDER_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_CAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_COMPANY_NAME)
        </td>
        <td>
            @item.CT_CITY, @item.CT_STATE @item.CT_COUNTRY
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_PHONE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contractor_id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.contractor_id })
        </td>
    </tr>
}

</table>
