﻿@using HiltHub.Models
@using ExtensionMethods
@using System.Web.Mvc.Html
@model ShipEditViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("DetailsHeader", 
        new DetailsHeaderData 
        {
            Title = Model.Ship.name,
            SubTitle = Model.Ship.hull_number
        });
}
 
<div class="validation-summary-errors">@ViewBag.ErrorText</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#Ship_Ship_Status option:contains(@Model.Ship.current_status)').attr('selected', 'selected');
    $('#HullTypeID').val(@Model.Ship.hull_type_id);
})
</script>
@{Html.BeginForm();}
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Ship.ship_id)

<div class="editor-label">
    Ship Name
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ship.name)
    @Html.ValidationMessageFor(model => model.Ship.name)
</div>

<div class="editor-label">
    Status
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Ship.current_status, Model.Statuses)
</div>


<div class="editor-label">
    @Html.LabelFor(model => model.Ship.uic)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ship.uic)
    @Html.ValidationMessageFor(model => model.Ship.uic)
</div>

<div class="editor-label">
    Hull Number
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ship.hull_number)
    @Html.ValidationMessageFor(model => model.Ship.hull_number)
</div>

<div class="editor-label">
    Hull Type 
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.HullTypeID, Model.HullTypes)
</div>

@{Html.EndForm();}