﻿@model HiltHub.Models.ShipFilterViewModel
@{
    var ddHtmlAttributes = new Dictionary<string, object> { { "autopostback", true }, {"style", "width: 150px"} };
	var tbHtmlAttributes = new Dictionary<string, object> { {"size", "30"}, {"maxlength", "40"} };
}
<script src="@Url.Content("~/Scripts/SearchFilter.js")" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#HullTypeID').val( @Model.HullTypeID);

    $(function () {
        // move filters to positons over their columns
        if ($('#mainGrid th').length > 1) {
            $('#name').appendTo('.grid th:nth-child(1)');
            $('#HullTypeID').appendTo('.grid th:nth-child(2)');
            $('#hullNumber').appendTo('.grid th:nth-child(3)');
            $('#gridFilters').remove();
        }
    });
});
</script>

<div id="searchFilter">
    <div class="searchFilterColumn searchFilterButtonColumn">
		<div class="btn-group">
            @Html.ActionLink("New Ship", "Create", null, new { @class= "btn" } ) 
			<div class="btn" id="clearFilters" onclick="window.location.href('@Url.Content("~/ship/clear")')"><i class="icon-remove"></i> @Html.ActionLink("Clear", "clear", "ship")</div>
            <div class="btn" onclick="search.submit()"><i class="icon-search"></i> Search</div>
		</div>
	</div>
</div>

<table class="grid" id="gridFilters">
    <thead>
        <tr>
        <th />
        <th style="width: 100%">
			Ship Name
			@Html.TextBox("name", Model.Name, tbHtmlAttributes)
		</th>
        <th>
			Hull Type
            @Html.DropDownListFor(model => model.HullTypeID, Model.HullTypes, "-- All --", ddHtmlAttributes)
	    </th>
		<th>
			Hull Number
			@Html.TextBox("hullNumber", Model.HullNumber, tbHtmlAttributes)
		</th>
        </tr>
    </thead>
</table>
