﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: rgb(44, 44, 44); height: 80px; width: 300px; 
    text-align: center; padding: 80px 20px 20px 20px; margin-right: auto; margin-left: auto; margin-bottom: 20px; font-size: 60px">
<span class="brand" href="@Url.Content("~")">HILT hub</span>
</div>
<div style="margin-left: auto; margin-right: auto; width: 300px">
    <h3>The system currently holds data for:</h3>
    <div>@ViewBag.TotalAul AUL records</div>
    <div>@ViewBag.TotalMsds MSDS records</div>
    <div>@ViewBag.TotalMssl MSSL records</div>
    <div>@ViewBag.TotalShips Ships</div>
</div>
