﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

<div class="display-label">
    Hazard Class
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_HAZARD_CLASS)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_HAZARD_CLASS)
</div>

<div class="display-label">
    Pack Paragraph
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_PACK_PARAGRAPH)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_PACK_PARAGRAPH)
</div>

<div class="display-label">
    Pack Group
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_PACK_GROUP)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_PACK_GROUP)
</div>

<div class="display-label">
    Prop Ship Name
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_PROP_SHIP_NAME)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_PROP_SHIP_NAME)
</div>

<div class="display-label">
    Prop Ship Modifier
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_PROP_SHIP_MODIFIER)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_PROP_SHIP_MODIFIER)
</div>

<div class="display-label">
    Psn Code
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_PSN_CODE)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_PSN_CODE)
</div>

<div class="display-label">
    Special Prov
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_SPECIAL_PROV)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_SPECIAL_PROV)
</div>

<div class="display-label">
    Subsidiary Risk
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_SUBSIDIARY_RISK)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_SUBSIDIARY_RISK)
</div>

<div class="display-label">
    Symbols
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_SYMBOLS)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_SYMBOLS)
</div>

<div class="display-label">
    Un Id Number
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsAfjmPsn.AFJM_UN_ID_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsAfjmPsn.AFJM_UN_ID_NUMBER)
</div>
