﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

<div class="editor-label">
    Item Manager
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.ITEM_MANAGER)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.ITEM_MANAGER)
</div>

<div class="editor-label">
    Item Name
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.ITEM_NAME)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.ITEM_NAME)
</div>

<div class="editor-label">
    Specification Number
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.SPECIFICATION_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.SPECIFICATION_NUMBER)
</div>

<div class="editor-label">
    Type Grade Class
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.TYPE_GRADE_CLASS)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.TYPE_GRADE_CLASS)
</div>

<div class="editor-label">
    Unit Of Issue
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.UNIT_OF_ISSUE)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.UNIT_OF_ISSUE)
</div>

<div class="editor-label">
    Quantitative Expression
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.QUANTITATIVE_EXPRESSION)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.QUANTITATIVE_EXPRESSION)
</div>

<div class="editor-label">
    Ui Container Qty
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.UI_CONTAINER_QTY)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.UI_CONTAINER_QTY)
</div>

<div class="editor-label">
    Type Of Container
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.TYPE_OF_CONTAINER)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.TYPE_OF_CONTAINER)
</div>

<div class="editor-label">
    Batch Number
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.BATCH_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.BATCH_NUMBER)
</div>

<div class="editor-label">
    Lot Number
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.LOT_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.LOT_NUMBER)
</div>

<div class="editor-label">
    Log Flis Niin Ver
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.LOG_FLIS_NIIN_VER)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.LOG_FLIS_NIIN_VER)
</div>

<div class="editor-label">
    Log Fsc
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.LOG_FSC)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.LOG_FSC)
</div>

<div class="editor-label">
    Net Unit Weight
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.NET_UNIT_WEIGHT)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.NET_UNIT_WEIGHT)
</div>

<div class="editor-label">
    Shelf Life Code
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.SHELF_LIFE_CODE)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.SHELF_LIFE_CODE)
</div>

<div class="editor-label">
    Special Emp Code
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.SPECIAL_EMP_CODE)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.SPECIAL_EMP_CODE)
</div>

<div class="editor-label">
    Un Na Number
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.UN_NA_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.UN_NA_NUMBER)
</div>

<div class="editor-label">
    Upc Gtin
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsItemDescription.UPC_GTIN)
    @Html.ValidationMessageFor(model => model.MsdsItemDescription.UPC_GTIN)
</div>
