﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

<div class="editor-label">
    Disposal Add Info
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsDisposal.DISPOSAL_ADD_INFO)
    @Html.ValidationMessageFor(model => model.MsdsDisposal.DISPOSAL_ADD_INFO)
</div>

<div class="editor-label">
    EPA Haz Waste Code
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsDisposal.EPA_HAZ_WASTE_CODE)
    @Html.ValidationMessageFor(model => model.MsdsDisposal.EPA_HAZ_WASTE_CODE)
</div>

<div class="editor-label">
    EPA Haz Waste Ind
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsDisposal.EPA_HAZ_WASTE_IND)
    @Html.ValidationMessageFor(model => model.MsdsDisposal.EPA_HAZ_WASTE_IND)
</div>

<div class="editor-label">
    EPA Haz Waste Name
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsDisposal.EPA_HAZ_WASTE_NAME)
    @Html.ValidationMessageFor(model => model.MsdsDisposal.EPA_HAZ_WASTE_NAME)
</div>
