﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

<div class="display-label">
    Hazard Class Div
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_HAZARD_CLASS_DIV)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_HAZARD_CLASS_DIV)
</div>

<div class="display-label">
    Hazard Label
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_HAZARD_LABEL)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_HAZARD_LABEL)
</div>

<div class="display-label">
    Max Cargo
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_MAX_CARGO)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_MAX_CARGO)
</div>

<div class="display-label">
    Max Passenger
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_MAX_PASSENGER)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_MAX_PASSENGER)
</div>

<div class="display-label">
    Pack Bulk
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_PACK_BULK)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_PACK_BULK)
</div>

<div class="display-label">
    Pack Exceptions
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_PACK_EXCEPTIONS)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_PACK_EXCEPTIONS)
</div>

<div class="display-label">
    Pack Nonbulk
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_PACK_NONBULK)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_PACK_NONBULK)
</div>

<div class="display-label">
    Prop Ship Name
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_PROP_SHIP_NAME)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_PROP_SHIP_NAME)
</div>

<div class="display-label">
    Prop Ship Modifier
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_PROP_SHIP_MODIFIER)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_PROP_SHIP_MODIFIER)
</div>

<div class="display-label">
    Psn Code
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_PSN_CODE)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_PSN_CODE)
</div>

<div class="display-label">
    Special Provision
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_SPECIAL_PROVISION)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_SPECIAL_PROVISION)
</div>

<div class="display-label">
    Symbols
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_SYMBOLS)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_SYMBOLS)
</div>

<div class="display-label">
    Un Id Number
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_UN_ID_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_UN_ID_NUMBER)
</div>

<div class="display-label">
    Water Other Req
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_WATER_OTHER_REQ)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_WATER_OTHER_REQ)
</div>

<div class="display-label">
    Water Vessel Stow
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_WATER_VESSEL_STOW)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_WATER_VESSEL_STOW)
</div>

<div class="display-label">
    Pack Group
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsDotPsn.DOT_PACK_GROUP)
    @Html.ValidationMessageFor(model => model.MsdsDotPsn.DOT_PACK_GROUP)
</div>
