﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

<div class="display-label">
    Cargo Packing
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_CARGO_PACKING)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_CARGO_PACKING)
</div>

<div class="display-label">
    Hazard Class
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_HAZARD_CLASS)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_HAZARD_CLASS)
</div>

<div class="display-label">
    Hazard Label
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_HAZARD_LABEL)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_HAZARD_LABEL)
</div>

<div class="display-label">
    Pack Group
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PACK_GROUP)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PACK_GROUP)
</div>

<div class="display-label">
    Pass Air Pack Lmt Instr
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PASS_AIR_PACK_LMT_INSTR)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PASS_AIR_PACK_LMT_INSTR)
</div>

<div class="display-label">
    Pass Air Pack Limit/Pkg
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PASS_AIR_PACK_LMT_PER_PKG)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PASS_AIR_PACK_LMT_PER_PKG)
</div>

<div class="display-label">
    Pass Air Pack Note
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PASS_AIR_PACK_NOTE)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PASS_AIR_PACK_NOTE)
</div>

<div class="display-label">
    Prop Ship Name
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PROP_SHIP_NAME)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PROP_SHIP_NAME)
</div>

<div class="display-label">
    Prop Ship Modifier
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PROP_SHIP_MODIFIER)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PROP_SHIP_MODIFIER)
</div>

<div class="display-label">
    Cargo Pack Max Qty
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_CARGO_PACK_MAX_QTY)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_CARGO_PACK_MAX_QTY)
</div>

<div class="display-label">
    Psn Code
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PSN_CODE)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PSN_CODE)
</div>

<div class="display-label">
    Pass Air Max Qty
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_PASS_AIR_MAX_QTY)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_PASS_AIR_MAX_QTY)
</div>

<div class="display-label">
    Special Prov
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_SPECIAL_PROV)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_SPECIAL_PROV)
</div>

<div class="display-label">
    Subsidiary Risk
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_SUBSIDIARY_RISK)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_SUBSIDIARY_RISK)
</div>

<div class="display-label">
    Un Id Number
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsIataPsn.IATA_UN_ID_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsIataPsn.IATA_UN_ID_NUMBER)
</div>