﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

<div class="display-label">
    Ems No
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_EMS_NO)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_EMS_NO)
</div>

<div class="display-label">
    Hazard Class
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_HAZARD_CLASS)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_HAZARD_CLASS)
</div>

<div class="display-label">
    Ibc Instr
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_IBC_INSTR)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_IBC_INSTR)
</div>

<div class="display-label">
    Limited Qty
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_LIMITED_QTY)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_LIMITED_QTY)
</div>

<div class="display-label">
    Pack Group
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_PACK_GROUP)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_PACK_GROUP)
</div>

<div class="display-label">
    Pack Instructions
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_PACK_INSTRUCTIONS)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_PACK_INSTRUCTIONS)
</div>

<div class="display-label">
    Pack Provisions
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_PACK_PROVISIONS)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_PACK_PROVISIONS)
</div>

<div class="display-label">
    Prop Ship Name
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_PROP_SHIP_NAME)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_PROP_SHIP_NAME)
</div>

<div class="display-label">
    Prop Ship Modifier
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_PROP_SHIP_MODIFIER)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_PROP_SHIP_MODIFIER)
</div>

<div class="display-label">
    Psn Code
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_PSN_CODE)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_PSN_CODE)
</div>

<div class="display-label">
    Special Prov
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_SPECIAL_PROV)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_SPECIAL_PROV)
</div>

<div class="display-label">
    Stow Segr
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_STOW_SEGR)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_STOW_SEGR)
</div>

<div class="display-label">
    Subsidiary Risk
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_SUBSIDIARY_RISK)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_SUBSIDIARY_RISK)
</div>

<div class="display-label">
    Tank Instr Imo
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_TANK_INSTR_IMO)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_TANK_INSTR_IMO)
</div>

<div class="display-label">
    Tank Instr Prov
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_TANK_INSTR_PROV)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_TANK_INSTR_PROV)
</div>

<div class="display-label">
    Tank Instr Un
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_TANK_INSTR_UN)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_TANK_INSTR_UN)
</div>

<div class="display-label">
    Un Number
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_UN_NUMBER)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_UN_NUMBER)
</div>

<div class="display-label">
    Ibc Provisions
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_IBC_PROVISIONS)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_IBC_PROVISIONS)
</div>

<div class="display-label">
    Psn Code
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsImoPsn.IMO_PSN_CODE)
    @Html.ValidationMessageFor(model => model.MsdsImoPsn.IMO_PSN_CODE)
</div>
