﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods
<div class="editor-label">
    Company Cage Rp
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.COMPANY_CAGE_RP)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.COMPANY_CAGE_RP)
</div>

<div class="editor-label">
    Company Name Rp
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.COMPANY_NAME_RP)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.COMPANY_NAME_RP)
</div>

<div class="editor-label">
    Emerg Phone
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.LABEL_EMERG_PHONE)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.LABEL_EMERG_PHONE)
</div>

<div class="editor-label">
    Item Name
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.LABEL_ITEM_NAME)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.LABEL_ITEM_NAME)
</div>

<div class="editor-label">
    Proc Year
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.LABEL_PROC_YEAR)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.LABEL_PROC_YEAR)
</div>

<div class="editor-label">
    Prod Ident
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.LABEL_PROD_IDENT)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.LABEL_PROD_IDENT)
</div>

<div class="editor-label">
    Prod Serial #
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.LABEL_PROD_SERIALNO)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.LABEL_PROD_SERIALNO)
</div>

<div class="editor-label">
    Signal Word
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.LABEL_SIGNAL_WORD_CODE)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.LABEL_SIGNAL_WORD_CODE)
</div>

<div class="editor-label">
    Stock #
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsLabelInfo.LABEL_STOCK_NO)
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.LABEL_STOCK_NO)
</div>

<div class="editor-label">
    Specific Hazards
</div>
<div class="editor-field editor-field-textarea">
    @Html.TextAreaFor(model => model.MsdsLabelInfo.SPECIFIC_HAZARDS, new {cols = 60})
    @Html.ValidationMessageFor(model => model.MsdsLabelInfo.SPECIFIC_HAZARDS)
</div>
