﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

@Html.HiddenFor(model => model.MsdsMaster.MSDSSERNO);
@{
    Model.MsdsMaster.ARTICLE_IND = Model.MsdsMaster.ARTICLE_IND.Trim();
}
<div class="editor-label">
    CAGE
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.CAGE)
    @Html.ValidationMessageFor(model => model.MsdsMaster.CAGE)
</div>

<div class="editor-label">
    Manufacturer
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.MANUFACTURER)
    @Html.ValidationMessageFor(model => model.MsdsMaster.MANUFACTURER)
</div>

<div class="editor-label">
    Part #
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.PARTNO)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PARTNO)
</div>

<div class="editor-label">
    FSC
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.FSC)
    @Html.ValidationMessageFor(model => model.MsdsMaster.FSC)
</div>

<div class="editor-label">
    NIIN
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.NIIN)
    @Html.ValidationMessageFor(model => model.MsdsMaster.NIIN)
</div>

<div class="editor-label">
    HCC
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.MsdsMaster.hcc_id, Model.HCCs)
</div>

<div class="editor-label">
    Filename
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.MsdsMaster.file_name)
</div>

<div class="editor-label">
    Manually Entered
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.manually_entered)
    @Html.ValidationMessageFor(model => model.MsdsMaster.manually_entered)
</div>

<div class="editor-label">
    Description
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.DESCRIPTION)
    @Html.ValidationMessageFor(model => model.MsdsMaster.DESCRIPTION)
</div>

<div class="editor-label">
    Emergency Tel
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.EMERGENCY_TEL)
    @Html.ValidationMessageFor(model => model.MsdsMaster.EMERGENCY_TEL)
</div>

<div class="editor-label">
    Manufacturer Msds No
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.MANUFACTURER_MSDS_NO)
    @Html.ValidationMessageFor(model => model.MsdsMaster.MANUFACTURER_MSDS_NO)
</div>


<div class="editor-label">
    Product Identity
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.PRODUCT_IDENTITY)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PRODUCT_IDENTITY)
</div>

<div class="editor-label">
    Trade Name
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.TRADE_NAME)
    @Html.ValidationMessageFor(model => model.MsdsMaster.TRADE_NAME)
</div>

<div class="editor-label">
    Product Load Date
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.PRODUCT_LOAD_DATE)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PRODUCT_LOAD_DATE)
</div>

<div class="editor-label">
    Product Record Status
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.PRODUCT_RECORD_STATUS)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PRODUCT_RECORD_STATUS)
</div>

<div class="editor-label">
    Product Revision No
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.PRODUCT_REVISION_NO)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PRODUCT_REVISION_NO)
</div>

<div class="editor-label">
    Service Agency Code
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.SERVICE_AGENCY_CODE)
    @Html.ValidationMessageFor(model => model.MsdsMaster.SERVICE_AGENCY_CODE)
</div>

<div class="editor-label">
    Product Language
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsMaster.PRODUCT_LANGUAGE)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PRODUCT_LANGUAGE)
</div>

<!-- radio buttons below -->
<div class="editor-label">
    Article Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model =>model.MsdsMaster.ARTICLE_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.ARTICLE_IND)
</div>

<div class="editor-label">
    End Comp Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.END_COMP_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.END_COMP_IND)
</div>

<div class="editor-label">
    End Item Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.END_ITEM_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.END_ITEM_IND)
</div>

<div class="editor-label">
    Kit Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.KIT_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.KIT_IND)
</div>

<div class="editor-label">
    Kit Part Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.KIT_PART_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.KIT_PART_IND)
</div>

<div class="editor-label">
    Mixture Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.MIXTURE_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.MIXTURE_IND)
</div>

<div class="editor-label">
    Proprietary Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.PROPRIETARY_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PROPRIETARY_IND)
</div>

<div class="editor-label">
    Published Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.PUBLISHED_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PUBLISHED_IND)
</div>

<div class="editor-label">
    Purchased Prod Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.PURCHASED_PROD_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PURCHASED_PROD_IND)
</div>

<div class="editor-label">
    Pure Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.PURE_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PURE_IND)
</div>

<div class="editor-label">
    Radioactive Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.RADIOACTIVE_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.RADIOACTIVE_IND)
</div>

<div class="editor-label">
    Trade Secret Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.TRADE_SECRET_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.TRADE_SECRET_IND)
</div>

<div class="editor-label">
    Product Ind
</div>
<div class="editor-field">
    @Html.YesNoRadioFor(model => model.MsdsMaster.PRODUCT_IND)
    @Html.ValidationMessageFor(model => model.MsdsMaster.PRODUCT_IND)
</div>
