﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods
<div class="editor-label">
    Vapor Press
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.VAPOR_PRESS)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.VAPOR_PRESS)
</div>

<div class="editor-label">
    Vapor Dens
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.VAPOR_DENS)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.VAPOR_DENS)
</div>

<div class="editor-label">
    Specific Grav
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.SPECIFIC_GRAV)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.SPECIFIC_GRAV)
</div>

<div class="editor-label">
    Voc Pounds Gallon
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.VOC_POUNDS_GALLON)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.VOC_POUNDS_GALLON)
</div>

<div class="editor-label">
    Voc Grams Liter
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.VOC_GRAMS_LITER)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.VOC_GRAMS_LITER)
</div>

<div class="editor-label">
    Ph
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.PH)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.PH)
</div>

<div class="editor-label">
    Viscosity
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.VISCOSITY)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.VISCOSITY)
</div>

<div class="editor-label">
    Evap Rate Ref
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.EVAP_RATE_REF)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.EVAP_RATE_REF)
</div>

<div class="editor-label">
    Sol In Water
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.SOL_IN_WATER)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.SOL_IN_WATER)
</div>

<div class="editor-label">
    App Odor
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.APP_ODOR)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.APP_ODOR)
</div>

<div class="editor-label">
    Percent Vol Volume
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.PERCENT_VOL_VOLUME)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.PERCENT_VOL_VOLUME)
</div>

<div class="editor-label">
    Autoignition Temp
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.AUTOIGNITION_TEMP)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.AUTOIGNITION_TEMP)
</div>

<div class="editor-label">
    Carcinogen Ind
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.CARCINOGEN_IND)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.CARCINOGEN_IND)
</div>

<div class="editor-label">
    EPA Acute
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.EPA_ACUTE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.EPA_ACUTE)
</div>

<div class="editor-label">
    EPA Chronic
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.EPA_CHRONIC)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.EPA_CHRONIC)
</div>

<div class="editor-label">
    EPA Fire
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.EPA_FIRE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.EPA_FIRE)
</div>

<div class="editor-label">
    EPA Pressure
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.EPA_PRESSURE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.EPA_PRESSURE)
</div>

<div class="editor-label">
    EPA Reactivity
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.EPA_REACTIVITY)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.EPA_REACTIVITY)
</div>

<div class="editor-label">
    Flash Pt Temp
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.FLASH_PT_TEMP)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.FLASH_PT_TEMP)
</div>

<div class="editor-label">
    Neut Agent
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.NEUT_AGENT)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.NEUT_AGENT)
</div>

<div class="editor-label">
    NFPA Flammability
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.NFPA_FLAMMABILITY)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.NFPA_FLAMMABILITY)
</div>

<div class="editor-label">
    NFPA Health
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.NFPA_HEALTH)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.NFPA_HEALTH)
</div>

<div class="editor-label">
    NFPA Reactivity
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.NFPA_REACTIVITY)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.NFPA_REACTIVITY)
</div>

<div class="editor-label">
    NFPA Special
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.NFPA_SPECIAL)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.NFPA_SPECIAL)
</div>

<div class="editor-label">
    OSHA Carcinogens
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_CARCINOGENS)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_CARCINOGENS)
</div>

<div class="editor-label">
    OSHA Comb Liquid
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_COMB_LIQUID)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_COMB_LIQUID)
</div>

<div class="editor-label">
    OSHA Comp Gas
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_COMP_GAS)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_COMP_GAS)
</div>

<div class="editor-label">
    OSHA Corrosive
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_CORROSIVE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_CORROSIVE)
</div>

<div class="editor-label">
    OSHA Explosive
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_EXPLOSIVE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_EXPLOSIVE)
</div>

<div class="editor-label">
    OSHA Flammable
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_FLAMMABLE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_FLAMMABLE)
</div>

<div class="editor-label">
    OSHA High Toxic
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_HIGH_TOXIC)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_HIGH_TOXIC)
</div>

<div class="editor-label">
    OSHA Irritant
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_IRRITANT)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_IRRITANT)
</div>

<div class="editor-label">
    OSHA Org Perox
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_ORG_PEROX)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_ORG_PEROX)
</div>

<div class="editor-label">
    OSHA Otherlongterm
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_OTHERLONGTERM)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_OTHERLONGTERM)
</div>

<div class="editor-label">
    OSHA Oxidizer
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_OXIDIZER)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_OXIDIZER)
</div>

<div class="editor-label">
    OSHA Pyro
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_PYRO)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_PYRO)
</div>

<div class="editor-label">
    OSHA Sensitizer
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_SENSITIZER)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_SENSITIZER)
</div>

<div class="editor-label">
    OSHA Toxic
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_TOXIC)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_TOXIC)
</div>

<div class="editor-label">
    OSHA Unst React
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_UNST_REACT)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_UNST_REACT)
</div>

<div class="editor-label">
    Other Short Term
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OTHER_SHORT_TERM)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OTHER_SHORT_TERM)
</div>

<div class="editor-label">
    Phys State Code
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.PHYS_STATE_CODE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.PHYS_STATE_CODE)
</div>

<div class="editor-label">
    Vol Org Comp Wt
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.VOL_ORG_COMP_WT)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.VOL_ORG_COMP_WT)
</div>

<div class="editor-label">
    OSHA Water Reactive
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsPhysChemical.OSHA_WATER_REACTIVE)
    @Html.ValidationMessageFor(model => model.MsdsPhysChemical.OSHA_WATER_REACTIVE)
</div>
