﻿@model HiltHub.Models.MsdsEditViewModel
@using ExtensionMethods

<div class="editor-label">
    Af Mmac Code
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.AF_MMAC_CODE)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.AF_MMAC_CODE)
</div>

<div class="editor-label">
    Certificate Coe
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.CERTIFICATE_COE)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.CERTIFICATE_COE)
</div>

<div class="editor-label">
    Competent Caa
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.COMPETENT_CAA)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.COMPETENT_CAA)
</div>

<div class="editor-label">
    Dod Id Code
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.DOD_ID_CODE)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.DOD_ID_CODE)
</div>

<div class="editor-label">
    DOT Exemption No
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.DOT_EXEMPTION_NO)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.DOT_EXEMPTION_NO)
</div>

<div class="editor-label">
    DOT Rq Ind
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.DOT_RQ_IND)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.DOT_RQ_IND)
</div>

<div class="editor-label">
    Ex No
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.EX_NO)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.EX_NO)
</div>

<div class="editor-label">
    Flash Pt Temp
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.FLASH_PT_TEMP)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.FLASH_PT_TEMP)
</div>

<div class="editor-label">
    Hcc
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.HCC)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.HCC)
</div>

<div class="editor-label">
    High Explosive Wt
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.HIGH_EXPLOSIVE_WT)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.HIGH_EXPLOSIVE_WT)
</div>

<div class="editor-label">
    Ltd Qty Ind
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.LTD_QTY_IND)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.LTD_QTY_IND)
</div>

<div class="editor-label">
    Magnetic Ind
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.MAGNETIC_IND)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.MAGNETIC_IND)
</div>

<div class="editor-label">
    Magnetism
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.MAGNETISM)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.MAGNETISM)
</div>

<div class="editor-label">
    Marine Pollutant Ind
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.MARINE_POLLUTANT_IND)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.MARINE_POLLUTANT_IND)
</div>

<div class="editor-label">
    Net Exp Qty Dist
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.NET_EXP_QTY_DIST)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.NET_EXP_QTY_DIST)
</div>

<div class="editor-label">
    Net Exp Weight
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.NET_EXP_WEIGHT)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.NET_EXP_WEIGHT)
</div>

<div class="editor-label">
    Net Propellant Wt
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.NET_PROPELLANT_WT)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.NET_PROPELLANT_WT)
</div>

<div class="editor-label">
    NOS Tech. Ship Name
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.NOS_TECHNICAL_SHIPPING_NAME)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.NOS_TECHNICAL_SHIPPING_NAME)
</div>

<div class="editor-label">
    Additional Data
</div>
<div class="editor-field">
    @Html.LimitedEditorFor(model => model.MsdsTransportation.TRANSPORTATION_ADDITIONAL_DATA)
    @Html.ValidationMessageFor(model => model.MsdsTransportation.TRANSPORTATION_ADDITIONAL_DATA)
</div>