﻿@using HiltHub.Models
@using ExtensionMethods
@model v_MSSL_Inventory_Detail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("DetailsHeader", 
        new DetailsHeaderData 
        {
            Title = "MSSL: " + Model.Nomenclature.TitleCase(),
            SubTitle = "NIIN " + Model.NIIN,
            ShowSave = false 
        });
}    

<div style="width: 900px; margin-left: -20px">
    <div class="display-label">UIC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UIC)
    </div>

    <div class="display-label">NIIN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NIIN)
    </div>

    <div class="display-label">location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">QTY</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QTY)
    </div>

    <div class="display-label">Created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">Hull Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hull_Type)
    </div>

    <div class="display-label">Ship Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ship_Name)
    </div>

    <div class="display-label">Hull Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hull_Number)
    </div>

    <div class="display-label">ATI</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATI)
    </div>

    <div class="display-label">COG</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COG)
    </div>

    <div class="display-label">Cog Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cog_Description)
    </div>

    <div class="display-label">MCC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MCC)
    </div>

    <div class="display-label">UI</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UI)
    </div>

    <div class="display-label">UP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UP)
    </div>

    <div class="display-label">NetUp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NetUp)
    </div>

    <div class="display-label">LMC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LMC)
    </div>

    <div class="display-label">IRC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IRC)
    </div>

    <div class="display-label">Dues</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dues)
    </div>

    <div class="display-label">RO</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RO)
    </div>

    <div class="display-label">RP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RP)
    </div>

    <div class="display-label">AMD</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMD)
    </div>

    <div class="display-label">SMIC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMIC)
    </div>

    <div class="display-label">Shelf Life Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shelf_Life_Code)
    </div>

    <div class="display-label">Shelf Life Months</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shelf_Life_Months)
    </div>

    <div class="display-label">Shelf Life Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shelf_Life_Description)
    </div>

    <div class="display-label">Shelf Life Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shelf_Life_Type)
    </div>

    <div class="display-label">Shelf Life Action Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shelf_Life_Action_Code)
    </div>

    <div class="display-label">Shelf Life Action</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shelf_Life_Action_Description)
    </div>

    <div class="display-label">SMCC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMCC)
    </div>

    <div class="display-label">SMCC Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMCC_Description)
    </div>

    <div class="display-label">Nomenclature</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nomenclature)
    </div>

    <div class="display-label">Data Source CD</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_Source_CD)
    </div>

    <div style="clear: both"></div>
</div>
