﻿@model HiltHub.Models.MsslFilterViewModel
@{
    var ddHtmlAttributes = new Dictionary<string, object> { { "autopostback", true }, {"style", "width: 130px"} };
	var tbHtmlAttributes = new Dictionary<string, object> { {"size", "30"}, {"maxlength", "40"} };
}
<script src="@Url.Content("~/Scripts/SearchFilter.js")" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
        $('#shipId').val( @Model.ShipId);

        // move filters to positons over their columns
        if ($('#mainGrid th').length > 1) {
            $('#product').appendTo('.grid th:nth-child(1)');
            $('#NIIN').appendTo('.grid th:nth-child(2)');
            $('#shelfLife').appendTo('.grid th:nth-child(3)');
            $('#gridFilters').remove();
        }
    });
</script>
<div id="searchFilter">
    <div class="searchFilterColumn">
		<div>
			<label>Ship</label>
			@Html.DropDownList("shipId", Model.Ships, "-- All --", new Dictionary<string, object> {{"style", "width: 200px"}, {"autopostback", true}})
		</div>
    </div>
    <div class="searchFilterColumn searchFilterButtonColumn">
		<div class="btn-group">
			<div class="btn" id="clearFilters" onclick="window.location.href('@Url.Content("~/mssl/clear")')"><i class="icon-remove"></i> @Html.ActionLink("Clear", "clear", "mssl")</div>
            <div class="btn"><i class="icon-search"></i> Search</div>
		</div>
	</div>
</div>

<table class="grid" id="gridFilters">
    <thead>
        <tr>
        <th />
        <th style="width: 100%">
            Product
			@Html.TextBox("product", Model.Product, tbHtmlAttributes)
		</th>
        <th>
            NIIN
     	    @Html.TextBox("NIIN", Model.NIIN, tbHtmlAttributes)
	    </th>
		<th>
            Shelf Life
			@Html.DropDownList("shelfLife", Model.ShelfLife, "All", ddHtmlAttributes)
		</th>
        </tr>
    </thead>
</table>
